body {
    background-image: url("/image/bg.jpg");
    
}
body h1, h2, button {
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
}
h1 {
    margin-block-start: 0%;
    margin-block-end: 0%;
    animation: reveal 2s ease-in .5s 3 alternate;
}

@keyframes reveal {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateY(700px);
    }
}

h2 {
    font-size: 104px;
    margin-block-start: 0%;
    margin-block-end: 0%;
    animation: reveal 2.5s ease-in 1s 3 alternate;
}
@keyframes reveal {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateY(700px);
    }
}

button {
    font-weight: semibold;
    font-size: 20px;
    animation: reveal 3s ease-in 1.5s 3 alternate;
}
@keyframes reveal {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateY(700px);
    }
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 50px;
  }

.grid-container .header-container {
    padding-left: 80px;
    margin-top: 200px;
    gap: 5px;
}
.grid-container .header-container button{
    padding: 10px;
    background-color: #00acf1;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    
}

.grid-container .img-container img{
    width: 500px;
    height: 500px;
}
@keyframes slideInLeft {
    from {
        transform: translateX(600px);
    }

    to {
        transform: translateX(0);
    }
}

.grid-container .img-container {
    animation: slideInLeft 2s ease-in-out 1s 3 normal both;
}

button {
    animation: rev 2s ease-in-out 1.5s alternate-reverse;
}

@keyframes rev {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateX(600);
    }
}